.logo{
    height: 60px !important;
    width: 5% !important;
    background-size: 100% 100% !important ;
    text-align: left !important;
    align-items: left !important;
    margin-left: 40px !important;
    
    }