
<header   id="header" class="fixed-top d-flex align-items-center">
  <div  *ngFor="let homeWebsite of home.dataAllHome" class="container d-flex justify-content-between">

    <div style="width: 200px;" class="logo">
      <!-- <h1 style="margin-top: 25px;"><a >{{homeWebsite.websiteName}}</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a routerLink="/home" href="#home"><img style="width: 250px ; height: 100px;" src="../../../assets/images/{{homeWebsite.logo}}" alt="" class="img-fluid"></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto"  href="http://localhost:4200/admin/dashboard">My Profile</a></li>

      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header>
<br><br><br>
<br><br><br>


  <button class="btn btn-dark"  (click) = "openCreatDialog()">create new</button>

<div class="row">
    <div class="col-md-12">
        <div class="table-wrap">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                    <th> <!--heads of row-->
                        Comment Id
                        
                    </th>
                    <th> <!--heads of row-->
                        Comment Text
                        
                    </th>
                    
                    <th>
                        Comment Date
                    </th>
                    <th>
                        User Id
                    </th>
                    <th>
                        Video  Id
                    </th>
                    
                    <th>
                        operations
                    </th>
                </tr>
              </thead>
              <tbody>
                <tr   *ngFor="let comment of home.dataComment"  class="alert" role="alert">
                    <td>
                        {{comment.commentId}}
            
                    </td>
                    <td>
                        {{comment.commentText}}
            
                    </td>
                    <td>
                        {{comment.commentDate| date: 'dd-MM-yyy'}}
            
                    </td>
                    <td>
                        {{comment.userId}}
            
                    </td>  
                    <td>
                        {{comment.videoId}}
            
                    </td>
                  <td> <button class="btn  btn-info" (click)="openUpdateDialog(comment.commentId,comment.commentText,comment.userId,comment.videoId)"><i class="fa fa-pencil"></i> update</button>
                       <button class="btn btn-danger" (click)="openDeleteDialog(comment.commentId )"><i class="fa fa-close"></i> Delete</button>
                  </td>
              
                  </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #callUpdatedialoge> <!--work when i call his name-->
    <form [formGroup]="Updatecomment" (ngSubmit)="updateComment()">
        <ul>
        <li>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter the comment</mat-label>
                <input type="text" matInput formControlName="commentText" [(ngModel)]="comment.commentText"  >
              
                
              </mat-form-field>
            </li>
            <li>
                <mat-label>Enter User Name :</mat-label>
                    <select formControlName="userId"  class="form-control">
                      <option [ngValue]="null" disabled>Select User</option>
                      <option *ngFor="let user of home.data"  [ngValue]="user.userId"  >{{user.userName}}</option>
              
                    </select>
                </li>
                <li>
                        <mat-label>Enter the video name:</mat-label>                       
                        <select formControlName="videoId"  class="form-control">
                            <option [ngValue]="null" disabled>Select video</option>
                            <option *ngFor="let video of home.dataVideo"  [ngValue]="video.videoId" >{{video.videoName}}</option>
                    
                          </select>
                    </li>
                    <li>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Enter the Register Date</mat-label>
                            <input type="datetime" matInput  formControlName="commentDate" value="comment.commentDate" readonly >            
                          </mat-form-field>
                        </li>
               
        
        </ul>
        <button type="submit" class="btn btn-success" >Update</button>

    </form>
</ng-template>


<ng-template #callDeleteDialoge>
    <h2>Are you sure you want to  delete Comment ?</h2>
<mat-dialog-actions align="end">

    <button  class="btn btn-success" mat-button mat-dialog-close ="no">no</button>

    <button class="btn btn-danger"  mat-button mat-dialog-close="yes"  >yes</button>

   

  </mat-dialog-actions>
</ng-template>



