
<header   id="header" class="fixed-top d-flex align-items-center">
  <div  *ngFor="let homeWebsite of home.dataAllHome" class="container d-flex justify-content-between">

    <div style="width: 200px;" class="logo">
      <!-- <h1 style="margin-top: 25px;"><a >{{homeWebsite.websiteName}}</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a routerLink="/home" href="#home"><img style="width: 250px ; height: 100px;" src="../../../assets/images/{{homeWebsite.logo}}" alt="" class="img-fluid"></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto"  href="http://localhost:4200/admin/dashboard">My Profile</a></li>

      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header>
<br><br><br>
<br><br><br>


  <h3 style="margin: 16px;"><strong>Note :</strong> The first three testimonials will be display in home page</h3>
<button class="btn btn-success" (click) = "openCreatDialog()">create new</button>
<table>
    <tr> <!--first row-->
        <th> <!--heads of row-->

          Testimonial Id

        </th>

        <th>
          Testimonial Text
        </th>
        <th>
            testimonial Id
        </th>

        <th>
            Image
        </th>

        <th>
            Operations
        </th>

    </tr>
    <tr *ngFor="let Testimonial of home.dataTestimonial">
        <td>
            {{Testimonial.testimonialId}}

        </td>
        <td>
            {{Testimonial.testimonialText}}

        </td>
        <td>
            {{Testimonial.userId}}

        </td>
        <td>
           <img src=" ../../../../../assets/images/{{Testimonial.testimonialImage}}" style="height:50px ; width :50px;">

        </td>
        <td>
            <!-- <button (click)="openDeleteDialog(Testimonial.testimonialId)">delete</button> -->
            <button class="btn btn-info" (click)="openUpdateDialog(Testimonial.testimonialId,Testimonial.testimonialText,Testimonial.testimonialImage)">update</button>
            <button class="btn btn-danger" (click)="openDeleteDialog(Testimonial.testimonialId)">Delete</button>

        </td>
    </tr>
</table>

<ng-template #callUpdatedialoge> <!--work when i call his name-->
    <form [formGroup]="UpdateTestimonial" (ngSubmit)="updateTestimonial()">
        <ul>
        <li>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter the Testimonial name</mat-label>
                <input type="text" matInput  formControlName="testimonialText" [(ngModel)]="Testimonial.testimonialText"   placeholder="testimonialText">


              </mat-form-field>
            </li>

              <li>

                <input type="file"  #file (change)="uploadFile(file.files)" formControlName="testimonialImage" [(ngModel)]="Testimonial.testimonialImage" style ="display:none" placeholder="choose image">
              <button class="btn btn-info"  (click)="file.click()">upload Image</button>
              <!-- to take the images from here i have to copy the path of file that the image i want in it and go the visulastudio at uploadimage prosedure -->

          </li>
        </ul>
        <button class="btn btn-success">Update</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </form>
</ng-template>

<ng-template #callDeleteDialoge>
    <h2>Are you sure you want to delete Testimonial ?</h2>
<mat-dialog-actions align="end">

    <button mat-button mat-dialog-close ="no">no</button>

    <button mat-button mat-dialog-close="yes"  >yes</button>

   

  </mat-dialog-actions>

</ng-template>


