



<header   id="header" class="fixed-top d-flex align-items-center">
  <div  *ngFor="let homeWebsite of home.dataAllHome" class="container d-flex justify-content-between">

    <div style="width: 200px;" class="logo">
      <!-- <h1 style="margin-top: 25px;"><a >{{homeWebsite.websiteName}}</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a routerLink="/home" href="#home"><img style="width: 250px ; height: 100px;" src="../../../assets/images/{{homeWebsite.logo}}" alt="" class="img-fluid"></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto"  href="http://localhost:4200/admin/dashboard">My Profile</a></li>

      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header>

<br><br><br>
<br><br><br>


  <button (click) = "openCreatDialog()">create new</button>
<table>
    <tr> <!--first row-->
        <th> <!--heads of row-->
          subscribe Id

        </th>
        <th> <!--heads of row-->
          incomes

        </th>

        <th>
          subscribeChannel
        </th>

        <th>
            operations
        </th>


    </tr>
    <tr *ngFor="let Sub of home.dataSubscribe">
        <td>
            {{Sub.subscribeId}}

        </td>
        <td>
            {{Sub.incomes}}

        </td>
        <td>
            {{Sub.subscribeChannel}}

        </td>

        <td>
            <!-- <button (click)="openDeleteDialog(course.courseId)">delete</button> -->
            <button (click)="openUpdateDialog(Sub.subscribeId,Sub.incomes,Sub.subscribeChannel )">update</button>
            <button (click)="openDeleteDialog(Sub.subscribeId )">Delete</button>
        </td>

    </tr>
</table>
<ng-template #callUpdatedialoge> <!--work when i call his name-->
    <form [formGroup]="UpdateSubscribe" (ngSubmit)="updateSubscribe()">
        <ul>
        <li>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter the incomes </mat-label>
                <input type="number" matInput  formControlName="incomes" [(ngModel)]="Sub.incomes"   placeholder="incomes">


              </mat-form-field>
            </li>
            <li>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Enter the subscribeChannel</mat-label>
                    <input type="text" matInput  formControlName="subscribeChannel" [(ngModel)]="Sub.subscribeChannel"   placeholder="subscribeChannel">


                  </mat-form-field>
                </li>


        </ul>
        <button>Update</button>

    </form>
</ng-template>


<ng-template #callDeleteDialoge>
    <h2>Are you sure you want to delete Subscribe ?</h2>
<mat-dialog-actions align="end">

    <button mat-button mat-dialog-close ="no">no</button>

    <button mat-button mat-dialog-close="yes"  >yes</button>



  </mat-dialog-actions>

</ng-template>



